name: Simple CI

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Say Hello
        run: eko "GitHub Actions is working!"
      - name: Say Hello
        run: emo "GitHub Actions is working!"
